<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
  
    <h1>Todos</h1>
    <ul id="todoItemsIncomplete">
    <% todosActive.forEach( el => { %>
            <li class='todoItem' data-id='<%=el._id%>'>
                <!--<span class='<%= el.completed === true ? 'completed' : 'not'%>'><%= el.todo %></span> -->
              <span class='not'><%= el.todo %></span>
              <% if(el.dueDate != null){ %>
                <span class="dueDate">Due: <%= el.dueDate.toLocaleDateString() %></span>
              <% } %>
                <span class='del'> Delete </span>
            </li>
    <% }) %>    
    </ul>

    <ul>
    <% todosCompleted.forEach( el => { %>
            <li class='todoItem' data-id='<%=el._id%>'>
                <span class='completed'><%= el.todo %></span>
              <% if(el.dueDate != null){ %>
                <span class='completed'>Due: <%= el.dueDate.toLocaleDateString() %></span>
              <% } %>
                <span class='del'> Delete </span>
            </li>
    <% }) %>    
    </ul>

    <h2><%= user.userName %> has <%= left %> things left to do.</h2>

    <form action="/todos/createTodo" method='POST'>
        <input type="text" placeholder="Enter Todo Item" name='todoItem'>
        <label for="group-choice">Category:</label>
    <select name="group" id="group-choice">
      <option value="">-Category-</option>
      <option value="work">Work</option>
      <option value="food">Food</option>
      <option value="exercise">Exercise</option>
      <option value="other">Other</option>
</select>
        <input type="date" onload="getDate()" placeholder="Pick a due date" id="dueDate" name='dueDate'> 
        <input type="submit">
    </form>


    <a href="/logout">Logout</a>

           


    <script src="js/main.js"></script>
</body>
</html>