<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <!-- Link to External css -->
    <link rel="stylesheet" href="/css/style.css">
    <!-- <link rel="stylesheet" href="/css/index.css"> -->
    <link rel="stylesheet" href="/css/todos.css">

    <!-- font awesome cdn link  -->
    <script src="https://kit.fontawesome.com/ffefa2702e.js" crossorigin="anonymous"></script>
</head>
<body>
  
    <h1>Todos</h1>
    <nav>
      <button class="catBtn allCat">All</button>
      <button class="catBtn workCat">Work</button>
      <button class="catBtn foodCat">Food</button>
      <button class="catBtn exerCat">Exercise</button>
      <button class="catBtn othCat">Other</button>
    </nav>  
    <h3 class="sectionTitle">Left to do:</h3>
    <section class="container notCompleted">
      <ul class="content" id="todoItemsIncomplete">
      <% todosActive.forEach( el => { %>
              <li class="todoItem <%= el.group === 'work' ? 'workGroup' : el.group === 'food' ? 'foodGroup' : el.group === 'exercise' ? 'exerciseGroup' : el.group === 'other' ? 'otherGroup' : 'noneGroup' %>" data-id='<%=el._id%>'>
                  <!--<span class='<%= el.completed === true ? 'completed' : 'not'%>'><%= el.todo %></span> -->
                <span class="category <%= el.group === 'work' ? 'work' : el.group === 'food' ? 'food' : el.group === 'exercise' ? 'exercise' : el.group === 'other' ? 'other' : 'none' %>"><%= el.group.toUpperCase() %></span>
                <span class='not'><%= el.todo %></span>
                <% if(el.dueDate != null){ %>
                  <span class="dueDate">Due: <%= el.dueDate.toLocaleDateString() %></span>
                <% } %>
                  <span class='del'><i class="fa-solid fa-trash-can"></i></span>
              </li>
      <% }) %>    
      </ul>
    </section>
    <h3 class="sectionTitle">Completed:</h3>
    <section class="container completed">
      <ul class="content">
      <% todosCompleted.forEach( el => { %>
              <li class="todoItem <%= el.group === 'work' ? 'workGroup' : el.group === 'food' ? 'foodGroup' : el.group === 'exercise' ? 'exerciseGroup' : el.group === 'other' ? 'otherGroup' : 'noneGroup' %>" data-id='<%=el._id%>'>
                <span><%= el.group.toUpperCase() %></span>
                <span class='completed'><%= el.todo %></span>
                <% if(el.dueDate != null){ %>
                  <span class='completed'>Due: <%= el.dueDate.toLocaleDateString() %></span>
                <% } %>
                  <span class='del'><i class="fa-solid fa-trash-can"></i></span>
              </li>
      <% }) %>    
      </ul>
    </section>

    <h2><%= user.userName %> has <%= left %> things left to do.</h2>
    
    <section class="container form">
      <form action="/todos/createTodo" method='POST'>
          <input type="text" placeholder="Enter Todo Item" name='todoItem'>
          <label for="group-choice">Category:</label>
            <select name="group" id="group-choice">
              <option value="">-Category-</option>
              <option value="work">Work</option>
              <option value="food">Food</option>
              <option value="exercise">Exercise</option>
              <option value="other">Other</option>
            </select>
          <input type="date" onload="getDate()" placeholder="Pick a due date" id="dueDate" name='dueDate'> 
          <button class="submit" name="submit">Submit</button>
      </form>
    </section>

    <a href="/logout">Logout</a>

           


    <script src="js/main.js"></script>
</body>
</html>